<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" (ionDidClose)="onMenuClose()">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>{{languageWords.menu}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
      <ion-button (click)="openLanguageMenu()" expand="full">
        <ion-text>{{languageWords.language}}</ion-text>
      </ion-button>
      <ion-list *ngIf="languageMenuOpen">
        <ion-button (click)="onClick1()" expand="block" fill="clear" shape="round">
          {{languageWords.english}}
        </ion-button>
        <ion-button (click)="onClick2()" expand="block" fill="clear" shape="round">
          {{languageWords.hebrew}}
        </ion-button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>