ion-input,ion-select,ion-datetime {
    text-align: right;
    font-size: large;
    color: blue;
}
form {
    ion-label {
font-size: large;
    }
}

.save-btn, .add-btn {
    font-size: large;
}



.flex-item ion-label {
display:inline-block;
width: 200px;
}

ion-select button {
    background-color:green;
    position: relative;

}