<ion-grid>
  <ion-row *ngFor="let expense of expenses; index as i" (click)="onSelect(expense.id)">
    <ion-col>
      <ion-row style="font-size: 1.2rem">
        <ion-col *ngIf="multiypleSelect">
          <ion-checkbox [checked]="(isItemInclude(expense.id) && multiypleSelect)"></ion-checkbox>
        </ion-col>
        <ion-col *ngIf="!multiypleSelect" [size]="2">
          <ion-label>{{i+1}}</ion-label>
        </ion-col>
        <ion-col [size]="4+colDiv" style="text-align: right;padding-right: 32px">
          <ion-label>{{expense.name}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{expense.amount * expense.freqPay}}</ion-label>
        </ion-col>

        <ion-col [size]="4" *ngIf="selectedSortType">
          <ion-label>{{expense[selectedSortType]}}</ion-label>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="((selectedId && (selectedId === expense.id)) && !multiypleSelect) ||showDetails">
        <ion-col>
          <app-expense-details [expense]="expense"></app-expense-details>

        </ion-col>

      </ion-row>
      <ion-row *ngIf="((selectedId && (selectedId === expense.id)) && !multiypleSelect )">
        <ion-button (click)="onDelete($event)" color="danger" fill="clear">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="onEdit($event)" fill="clear">
          <ion-icon slot="start" name="create-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-grid>