<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                {{title}}
                <ion-button (click)="onClick1()" expand="block" fill="clear" shape="round">
                    English
                </ion-button>
                <ion-button (click)="onClick2()" expand="block" fill="clear" shape="round">
                    Hebrew
                </ion-button>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
</ion-app>