<ion-app>

    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>Custom Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-button (click)="onClick1()" expand="block" fill="clear" shape="round">
                    English
                </ion-button>
                <ion-button (click)="onClick2()" expand="block" fill="clear" shape="round">
                    Hebrew
                </ion-button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-header>
        <ion-toolbar>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-title>
                            {{title}}
                        </ion-title>
                    </ion-col>
                    <ion-col size="3">
                        <ion-menu-button></ion-menu-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>

    <ion-content id="main">
        <ion-router-outlet></ion-router-outlet>
    </ion-content>
</ion-app>