<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-start ion-justify-content-between">
        <ion-col>
          <ion-title>{{languageWords.income}}</ion-title>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button (click)="closeModal()" shape="round" color="white">
            <ion-icon name="close-outline" size="large" color="danger"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let income of incomes" (click)="onSelectIncome(income.id)">
      <ion-label>{{income.from}}</ion-label>
      <ion-label>{{income.amount}}</ion-label>
      <ion-label>{{income.type}}</ion-label>
      <ion-label>{{income.startDate}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="onDelete()" *ngIf="selectedIncomeId">Delete</ion-button>

  <h1>{{languageWords.total}} : {{totalIncomes}}</h1>
  <ion-button (click)="openAddForm(true)" expand="block">
    <ion-label *ngIf="!newAdd">{{languageWords.addNew}}</ion-label>
    <ion-label *ngIf="newAdd">{{languageWords.income}}</ion-label>
  </ion-button>
  <form *ngIf="newAdd" [formGroup]="incomeGroup" (ngSubmit)="onSave()">
    <ion-item *ngIf="addNewIncomeType">
      <ion-label position="floating">{{languageWords.type}}</ion-label>
      <ion-input type="text" [formControl]="newIncomeType"></ion-input>
      <ion-button (click)="onAddNewIncomeType()" expand="block" shape="round">
        {{languageWords.add}}
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{languageWords.amount}}</ion-label>
      <ion-input formControlName="amount" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{languageWords.type}}</ion-label>
      <ion-select formControlName="incomeType">
        <ion-select-option *ngFor="let incomeType of incomeTypes" [value]="incomeType">{{incomeType}}
        </ion-select-option>
      </ion-select>
      <ion-button (click)="showSelectOpthion('incomeTypes')" fill="clear" shape="round">
        <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{languageWords.from}}</ion-label>
      <ion-input formControlName="from" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{languageWords.fristPayDate}}</ion-label>
      <ion-datetime formControlName="startDate" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-button type="submit">
      {{languageWords.add}}
    </ion-button>
    <ion-button (click)="resetForm()">
      {{languageWords.reset}}
    </ion-button>
    <ion-button (click)="openAddForm(false)">
      {{languageWords.exit}}
    </ion-button>
  </form>

</ion-content>