<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-end">
        <ion-col size="6">
          <ion-title>FILTER BY</ion-title>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button (click)="dismissModal()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-radio-group #rg (ionChange)="endTimeFilter(rg)" value="futture">
      <ion-list-header>
        <ion-label>
          <h1>End Time</h1>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>All</ion-label>
        <ion-radio value="all"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Future</ion-label>
        <ion-radio value="futture"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Finished</ion-label>
        <ion-radio value="finished"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>From Date</ion-label>
        <ion-radio value="fromDate"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Until Date</ion-label>
        <ion-radio value="untilDate"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Betwwen Date</ion-label>
        <ion-radio value="betwwen"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD MM YY" max="2050" #valstart placeholder="Start Date"
          (ionChange)="changeStartTime(valstart.value)" [disabled]="!showStartDate"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="DD MM YY" max="2050" #valend placeholder="End Date"
          (ionChange)="changeEndTime(valend.value)" [disabled]="!showEndDate"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="filter()" expand="block">
      filter
    </ion-button>
  </ion-toolbar>
</ion-footer>