<ion-header>
  <app-control-buttons (actionType)="actionRespone($event)" [expenseSelected]="selectedId"
    [multiypleSelect]="multiypleSelect" [expandToolbar]="expandToolbar">
  </app-control-buttons>
</ion-header>

<ion-content>
  <app-expenses (select)="onSelect($event)" [expenses]="expenses" [showDetails]="showDetails" [selectedId]="selectedId"
    [selectedSortType]="selectedSortType" [selectedArr]="selectedArr" [multiypleSelect]="multiypleSelect"
    (selectedOp)="onSelectOp($event)">
  </app-expenses>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="!multiypleSelect">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="exit-outline" size="large" color="danger"></ion-icon>
            <ion-label class="cal_label" color="danger">{{totalExpenses | number:'1.0-0'}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="enter-outline" size="large" color="success"></ion-icon>
            <ion-label class="cal_label" color="success">{{income | number:'1.0-0'}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="cash-outline" size="large" [color]="savings > 0 ?'success':'danger'"></ion-icon>
            <ion-label class="cal_label" [color]="savings > 0 ?'success':'danger'">{{savings | number:'1.0-0'}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="multiypleSelect">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="exit-outline" size="large" color="danger"></ion-icon>
            <ion-label class="cal_label" color="danger">{{selectedTotalAmount | number:'1.0-0'}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="enter-outline" size="large" color="success"></ion-icon>
            <ion-label class="cal_label" color="success">{{income | number:'1.0-0'}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="cash-outline" size="large" [color]="(income-selectedTotalAmount) > 0 ?'success':'danger'"></ion-icon>
              <ion-label class="cal_label" [color]="(income-selectedTotalAmount) > 0 ?'success':'danger'">
                {{(income-selectedTotalAmount)| number:'1.0-0'}}</ion-label>

          </ion-col>
        </ion-row>
   
      </ion-grid>
    </div>

  </ion-toolbar>
</ion-footer>