<ion-header>
  <app-control-buttons 
     (actionType)="actionRespone($event)" 
     [expenseSelected]="selectedId" 
     [multiypleSelect]="multiypleSelect">
  </app-control-buttons>
</ion-header>

<ion-content>
  <app-expenses 
   (select)="onSelect($event)" 
   [expenses]="expenses" 
   [showDetails]="showDetails" 
   [selectedId]="selectedId"
   [selectedSortType]="selectedSortType" 
   [selectedArr]="selectedArr" 
   [multiypleSelect]="multiypleSelect"
   (selectedOp) = "onSelectOp($event)">
  </app-expenses>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col 
         *ngIf="!multiypleSelect">
          <ion-title 
            class="ion-text-center">{{languageWords.totalExpenses | uppercase }}{{" ( "+expenses.length+" ) "}}:{{totalExpenses | number}}
          </ion-title>
        </ion-col>
        <ion-col 
          *ngIf="multiypleSelect">
          <ion-title 
            class="ion-text-center">Selected Amount {{" ( " +selectedArr.length + " )"}}  :{{selectedTotalAmount |number }}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>